<div class="container">
    <div class="row">

        <div class="col-md-6 offset-md-3">
            <div class="card" style="width: 100%;">
                

                <!-- Register Form -->
                <div class="card-body text-center" *ngIf="!loggingIn">
                    
                    <h2>Create an Account</h2>

                    <small>Get started with your free account</small>

                        
                    <div class="row margin-bottop">
                        <div class="col-md-12">
                            <button class="btn btn-block btn-fb">
                                    
                                    <span class="fa fa-facebook"></span> &nbsp; Sign in with Facebook
                                
                            </button>
                        </div>    
                    </div>

                    
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-block btn-google">
                                    
                                    <span class="fa fa-google"></span>  &nbsp; Sign in with Google
                                
                            </button>
                        </div>    
                    </div>

                    <div class="row margin-bottop">
                        <div class="col-md-5">
                            <hr>
                        </div>

                        <div class="col-md-2">
                            <small>OR</small>

                        </div>

                        <div class="col-md-5">
                            <hr>
                        </div>

                    </div>

                    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <!-- Add ajax to directly search in db if user already exists-->
                            <input autocomplete="username" type="text" [ngClass]="{'is-invalid':
                            registerForm.controls.username.invalid
                            && registerForm.controls.username.touched,
                            'is-valid':
                            registerForm.controls.username.valid
                            && registerForm.controls.username.touched
                            }" class="form-control" formControlName="username" placeholder="Choose a Username">
                            
                        </div>
                        
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input autocomplete="email" [ngClass]="{'is-invalid':
                            registerForm.controls.email.invalid 
                            && registerForm.controls.email.touched,
                            'is-valid':
                            registerForm.controls.email.valid 
                            && registerForm.controls.email.touched
                            }" type="text" class="form-control" formControlName="email" placeholder="Email">
                            
                        </div> 
                        
                        
                        
                        <div class="text-left err-msg"  *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched">
                            <small class="text-danger text-left">
                                    Wrong email format
                            </small>
                        </div>
                    

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input autocomplete="new-password" type="password" [ngClass]="{'is-invalid': 
                            registerForm.controls.password.invalid 
                            && registerForm.controls.password.touched,
                            'is-valid':
                            registerForm.controls.password.valid 
                            && registerForm.controls.password.touched
                            }" class="form-control" formControlName="password" placeholder="Password">
                        </div>

                        <div class="text-left err-msg"  *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
                            <small class="text-danger text-left">
                                    Password must be at least 5 characters
                            </small>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input type="password" autocomplete="new-password" [ngClass]="{'is-invalid':
                            registerForm.controls.confPassword.invalid
                            && registerForm.controls.confPassword.touched,
                            'is-valid':
                            registerForm.controls.confPassword.valid
                            && registerForm.controls.confPassword.touched 
                            }" class="form-control" formControlName="confPassword" placeholder="Confirm Password">
                        </div>

                        <div class="text-left err-msg"  *ngIf="registerForm.controls.confPassword.invalid && registerForm.controls.confPassword.touched">
                            <small class="text-danger text-left">
                                    Passwords do not match
                            </small>
                        </div>


                        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary btn-lg">Sign up</button>

                        

                        <div class="small-text margin-bottop">
                            Have an account? <a href="#" (click)="switchForm()">Log in</a>
                        </div> 

                        
                    </form>

                </div>

                <!-- Login form -->
                <div class="card-body text-center" *ngIf="loggingIn">
                    <h2 class="card-title margin-bottop" style="margin-bottom: 30px;">Log in!</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input autocomplete="email" type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Email">
                        </div>

                        <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                            <input type="password" autocomplete="current-password" class="form-control" formControlName="password" placeholder="Password">
                        </div>

                        <div class="small-text margin-bottop" style="text-align: left;">
                            <a href="#">
                                Forgot password?
                            </a>
                        </div>
                        <div class="form-group form-check" style="text-align: left;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>

                        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-lg">Login</button>

                        

                        <div class="small-text margin-bottop">
                            Not a member? <a href="#" (click)="switchForm()">Sign up now</a>
                        </div> 

                        <div class="row margin-bottop">
                            <div class="col-md-5">
                                <hr>
                            </div>

                            <div class="col-md-2">
                                <small>OR</small>

                            </div>

                            <div class="col-md-5">
                                <hr>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-block btn-fb">
                                        
                                        <span class="fa fa-facebook"></span> &nbsp; Sign in with Facebook
                                    
                                </button>
                            </div>    
                        </div>

                     
                        <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-block btn-google">
                                            
                                            <span class="fa fa-google"></span>  &nbsp; Sign in with Google
                                        
                                    </button>
                                </div>    
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>