<div class="body">

    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
                    <p>{{ currentUser.username }}</p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    <div id="status-options">
                        <ul>
                            <li isd="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                            <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                            <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                            <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="whatsup" (click)="selectedPage = null">
                What's ap on ChatApp
            </div>


            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." />
            </div>
            <div id="contacts">
                <ul style="padding-left: 0;">

                    <li *ngFor="let contact of contacts" class="contact" [ngClass]="{
                        'active': 
                        room && contact.contact._id === room.contact._id && selectedPage === 1
                    }" (click)="onRoomClick(contact);">
                        <div class="wrap">
                            <span class="contact-status online"></span>
                            <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                            <div class="meta">
                                <p class="name">{{ contact.contact.username }}</p>
                                <p class="preview">{{ contact.relationship.messages.slice(-1)[0].content }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="bottom-bar">
                <button (click)="selectedPage = 2" id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
                <button (click)="selectedPage = 3" id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
            </div>
        </div>

        <div class="content">
            <app-add-contact (fqSent)="onFriendRequest($event)" *ngIf="selectedPage === 2"></app-add-contact>
            <app-settings *ngIf="selectedPage === 3"></app-settings>
            <app-chat (decision)="onDenyFQ($event)" (lastRoom)="test($event)" [room]="room" *ngIf="selectedPage === 1"></app-chat>
            <app-news *ngIf="!selectedPage"></app-news>
        </div>
    </div>
</div>
