<div class="row">
    <div style="background-color: #343a40;" class="col-2 col-sm-4 pr-0 pl-0">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    
                    <div class="media mt-3 mb-4">
                        <img src="./../../../assets/avatar.png" class="mr-3 ml-3" alt="..." style="width: 15%">
                        <div class="media-body">
                            <h3 style="color: white;" class="mt-4 ">Jason Dupont</h3>
                        </div>
                        <i style="color: #435f7a; font-size: 2em;" class="fa fa-sort-down mr-5 mt-3"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <span style="position: absolute;
                        top: 10px;
                        left: 24px;color: #ccbcbc;" class="fa fa-search"></span>
                        <input placeholder="    Search"type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        
        
        <div class="container-fluid pl-0 pr-0" style="overflow-y: scroll; overflow-x: hidden">

            <div class="row">
                <div style="max-height: 65vh;min-height: 65vh;"class="pl-0 pr-0 col-sm-12">
    
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action  active">
                            <div class="container-fluid">

                                <div class="media">
                                    <img src="./../../../assets/avatar.png" class="mr-3" alt="..." style="width: 10%">
                                    <div class="media-body">
                                        <h5 class="mt-0"><strong>Ilan Dupont</strong></h5>
                                        Ca va frero
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">

                            <div class="container-fluid">

                                <div class="media">
                                    <img src="./../../../assets/avatar.png" class="mr-3" alt="..." style="width: 10%">
                                    <div class="media-body">
                                        <h5 class="mt-0"><strong>Ruben Veille</strong></h5>
                                        t as vu le match 
                                        </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">

                            <div class="container-fluid">

                                <div class="media">
                                    <img src="./../../../assets/avatar.png" class="mr-3" alt="..." style="width: 10%">
                                    <div class="media-body">
                                        <h5 class="mt-0">Media heading</h5>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="media">
                                <img src="./../../../assets/avatar.png" class="mr-3" alt="..." style="width: 10%">
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="media">
                                <img src="./../../../assets/avatar.png" class="mr-3" alt="..." style="width: 10%">
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="media">
                                <img src="./../../../assets/avatar.png" class="mr-3" alt="..." style="width: 10%">
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="media">
                                <img src="./../../../assets/avatar.png" class="mr-3" alt="..." style="width: 10%">
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="color:white;">
            <div class="row p-2 text-center">
                <div class="col-sm-6">
                        <button style="border-radius: unset;" type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="fa fa-user-plus"></i> Add contact</button>

                </div>
    
                <div class="col-sm-6">
                    
                        <button type="button" style="border-radius: unset;" class="btn btn-outline-secondary btn-lg btn-block"><i class="fa fa-cog"></i> Settings</button>

                </div>
            </div>
        </div>
    </div>

    <div  class="col-10 col-sm-8 pr-0">
        <div class="container-fluid pl-0">
            <div class="row">
                <div  style="background-color: #f5f5f5" class="col-12">
                    <div class="media mt-3 mb-4">
                        <img src="./../../../assets/avatar.png" class="mr-3 ml-3" alt="..." style="width: 5%">
                        <div class="media-body">
                            <h3 class="mt-3">Ilan Dupont</h3>
                        </div>
                        <i style="font-size:2em; color: #343a40;" class="fa fa-ellipsis-v mt-3 mr-5"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-12 col-sm-12" style="overflow: auto;min-height: 72vh; max-height: 70vh; background-color: #e6eaea; padding: 20px;">
                        <div class="container-fluid">

                            <div class="media">
                                <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                <div class="media-body">
                                    <div style="display: inline-block;
                                    color: white;
                                    float: left;
                                    background-color: #343a40;
                                    border-radius: 20px; 
                                    font-size: 1.5em;
                                    padding: 10px; 
                                    margin-left: 10px;">

                                        Ca va frero
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">

                            <div class="media">
                                <div class="media-body">
                                    <div style="display: inline-block;
                                    float: right;
                                    background-color: #f5f5f5;
                                    border-radius: 20px; 
                                    font-size: 1.5em;
                                    padding: 10px; 
                                    margin-right: 10px;">
                                        Ca va frero
                                    </div>
                                </div>
                                <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                            </div>
                        </div>


                        <div class="container-fluid">

                                <div class="media">
                                    <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                    <div class="media-body">
                                        <div style="display: inline-block;
                                        color: white;
                                        float: left;
                                        background-color: #343a40;
                                        border-radius: 20px; 
                                        font-size: 1.5em;
                                        padding: 10px; 
                                        margin-left: 10px;">
    
                                            Ca va frero
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="container-fluid">
    
                                <div class="media">
                                    <div class="media-body">
                                        <div style="display: inline-block;
                                        float: right;
                                        background-color: #f5f5f5;
                                        border-radius: 20px; 
                                        font-size: 1.5em;
                                        padding: 10px; 
                                        margin-right: 10px;">
                                            Ca va frero
                                        </div>
                                    </div>
                                    <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                </div>
                            </div>
                            <div class="container-fluid">

                                    <div class="media">
                                        <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                        <div class="media-body">
                                            <div style="display: inline-block;
                                            color: white;
                                            float: left;
                                            background-color: #343a40;
                                            border-radius: 20px; 
                                            font-size: 1.5em;
                                            padding: 10px; 
                                            margin-left: 10px;">
        
                                                Ca va frero
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="container-fluid">
        
                                    <div class="media">
                                        <div class="media-body">
                                            <div style="display: inline-block;
                                            float: right;
                                            background-color: #f5f5f5;
                                            border-radius: 20px; 
                                            font-size: 1.5em;
                                            padding: 10px; 
                                            margin-right: 10px;">
                                                Ca va frero
                                            </div>
                                        </div>
                                        <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                    </div>
                                </div>
                                <div class="container-fluid">

                                        <div class="media">
                                            <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                            <div class="media-body">
                                                <div style="display: inline-block;
                                                color: white;
                                                float: left;
                                                background-color: #343a40;
                                                border-radius: 20px; 
                                                font-size: 1.5em;
                                                padding: 10px; 
                                                margin-left: 10px;">
            
                                                    Ca va frero
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="container-fluid">
            
                                        <div class="media">
                                            <div class="media-body">
                                                <div style="display: inline-block;
                                                float: right;
                                                background-color: #f5f5f5;
                                                border-radius: 20px; 
                                                font-size: 1.5em;
                                                padding: 10px; 
                                                margin-right: 10px;">
                                                    Ca va frero
                                                </div>
                                            </div>
                                            <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                        </div>
                                    </div>
                                    <div class="container-fluid">

                                            <div class="media">
                                                <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                                <div class="media-body">
                                                    <div style="display: inline-block;
                                                    color: white;
                                                    float: left;
                                                    background-color: #343a40;
                                                    border-radius: 20px; 
                                                    font-size: 1.5em;
                                                    padding: 10px; 
                                                    margin-left: 10px;">
                
                                                        Ca va frero
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="container-fluid">
                
                                            <div class="media">
                                                <div class="media-body">
                                                    <div style="display: inline-block;
                                                    float: right;
                                                    background-color: #f5f5f5;
                                                    border-radius: 20px; 
                                                    font-size: 1.5em;
                                                    padding: 10px; 
                                                    margin-right: 10px;">
                                                        Ca va frero
                                                    </div>
                                                </div>
                                                <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                            </div>
                                        </div>
                                        <div class="container-fluid">

                                                <div class="media">
                                                    <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                                    <div class="media-body">
                                                        <div style="display: inline-block;
                                                        color: white;
                                                        float: left;
                                                        background-color: #343a40;
                                                        border-radius: 20px; 
                                                        font-size: 1.5em;
                                                        padding: 10px; 
                                                        margin-left: 10px;">
                    
                                                            Ca va frero
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="container-fluid">
                    
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div style="display: inline-block;
                                                        float: right;
                                                        background-color: #f5f5f5;
                                                        border-radius: 20px; 
                                                        font-size: 1.5em;
                                                        padding: 10px; 
                                                        margin-right: 10px;">
                                                            Ca va frero
                                                        </div>
                                                    </div>
                                                    <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                                </div>
                                            </div>
                                            <div class="container-fluid">

                                                    <div class="media">
                                                        <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                                        <div class="media-body">
                                                            <div style="display: inline-block;
                                                            color: white;
                                                            float: left;
                                                            background-color: #343a40;
                                                            border-radius: 20px; 
                                                            font-size: 1.5em;
                                                            padding: 10px; 
                                                            margin-left: 10px;">
                        
                                                                Ca va frero
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                <div class="container-fluid">
                        
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div style="display: inline-block;
                                                            float: right;
                                                            background-color: #f5f5f5;
                                                            border-radius: 20px; 
                                                            font-size: 1.5em;
                                                            padding: 10px; 
                                                            margin-right: 10px;">
                                                                Ca va frero
                                                            </div>
                                                        </div>
                                                        <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                                    </div>
                                                </div>
                                                <div class="container-fluid">

                                                        <div class="media">
                                                            <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                                            <div class="media-body">
                                                                <div style="display: inline-block;
                                                                color: white;
                                                                float: left;
                                                                background-color: #343a40;
                                                                border-radius: 20px; 
                                                                font-size: 1.5em;
                                                                padding: 10px; 
                                                                margin-left: 10px;">
                            
                                                                    Ca va frero
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                            
                                                    <div class="container-fluid">
                            
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <div style="display: inline-block;
                                                                float: right;
                                                                background-color: #f5f5f5;
                                                                border-radius: 20px; 
                                                                font-size: 1.5em;
                                                                padding: 10px; 
                                                                margin-right: 10px;">
                                                                    Ca va frero
                                                                </div>
                                                            </div>
                                                            <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                                        </div>
                                                    </div>
                                                    <div class="container-fluid">

                                                            <div class="media">
                                                                <img src="./../../../assets/avatar.png"  alt="..." style="width: 3%">
                                                                <div class="media-body">
                                                                    <div style="display: inline-block;
                                                                    color: white;
                                                                    float: left;
                                                                    background-color: #343a40;
                                                                    border-radius: 20px; 
                                                                    font-size: 1.5em;
                                                                    padding: 10px; 
                                                                    margin-left: 10px;">
                                
                                                                        Ca va frero
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="container-fluid">
                                
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <div style="display: inline-block;
                                                                    float: right;
                                                                    background-color: #f5f5f5;
                                                                    border-radius: 20px; 
                                                                    font-size: 1.5em;
                                                                    padding: 10px; 
                                                                    margin-right: 10px;">
                                                                        Ca va frero
                                                                    </div>
                                                                </div>
                                                                <img src="./../../../assets/avatar.png" alt="..." style="width: 3%">
                                                            </div>
                                                        </div>

                </div>
            </div>
        </div>

        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-sm-10 pl-0 pr-0">
                    <div class="form-group mb-0">
                        <input placeholder="Write your message..." style="border-radius:unset; font-size:1.3em;min-height: 70px; max-height: 70px;" type="text" class="form-control">
                    </div>
                </div>
                
                <div class="col-sm-1 pl-0 pr-0">
                    <button style="font-size: 1.6em;
                    height: 70px;border-radius: unset;" type="button" class="btn btn-light btn-lg btn-block"><i class="fa fa-paperclip"></i></button>
                </div>

                <div class="col-sm-1 pl-0 pr-0">
                        <button style="font-size: 1.6em;
                        height: 70px;border-radius: unset;"type="button" class="btn btn-dark btn-lg btn-block"><i class="fa fa-paper-plane"></i></button>

                        
                </div>
            </div>
        </div>
    </div>
</div>
