<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="searchForm">
                <div class="form-row align-items-center mt-3">
                    <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input (chane)="onInputChange($event)" type="text" formControlName="queryParams" class="form-control mb-2"  placeholder="Email or Username...">
                    </div>
                    
                    <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>