
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="searchForm">
                <div class="form-row align-items-center mt-3">
                    <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input (change)="onInputChange($event)" type="text" formControlName="queryParams" class="form-control mb-2"  placeholder="Email or Username...">
                    </div>
                    
                    <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid" style="height: 95vh; overflow-y: scroll;">


    <small *ngIf="cards && searchForm.controls.queryParams.value.length >= 3">{{cards.length}} {{cards.length <=1 ? 'result' : 'results'}} for {{searchForm.get('queryParams').value}}</small>
    <div class="row">
      
        <div class="col-sm-4 py-2" *ngFor="let card of cards">
            <div class="card h-100">
                <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{card.user.username}}</h3>
                    <p class="card-text"><small>{{card.user.email}}</small></p>
                    <button [disabled]="card.relation" class="btn btn-outline-primary" (click)="sendFriendRequest(card.user._id)">ADD FRIEND</button>
                </div>
            </div>
        </div>

    </div>
</div>  